.home_container {
    min-width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    overflow-y: scroll;
    align-items: center;
    padding: 25px 100px;
}

.home_container::-webkit-scrollbar {
    display: none;
}